<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Tarifa</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Tarifa</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Tarifa</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    fechaInicio
                                </th>				<th>
                                    fechaFinal
                                </th>				<th>
                                    valor
                                </th>				<th>
                                    iva
                                </th>
								<th>
				                    producto
				                </th>
				<th>
                    <input class="form-control" ng-model="q"  placeholder="Buscar"/>
                </th>
            </tr>
            <tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
                		<td>{{row.fechaInicio| date: 'dd/MM/yyyy'}}</td>
                
                		<td>{{row.fechaFinal| date: 'dd/MM/yyyy'}}</td>
                
                		<td>{{row.valor}}</td>
                
                		<td>{{row.iva}}</td>
                
                
					<td class="row">{{row.producto.nombre}}</td>              
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
		<div dir-pagination-controls></div>
		<br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Tarifa</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.fechaInicio?'error':''">
                                    <label for="fechaInicio">fechaInicio</label>
            						<div class="input-group">
            	                        <input id="fechaInicio" 
            	                               class="form-control datepicker" 
            	                               type="text" 
            	                               ng-model="datosFormulario.fechaInicio"/>
            							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                	</div>
                                    <script>
                                                $('#fechaInicio').datepicker({format: 'dd/mm/yyyy', language: "es"})
            										.on('changeDate', function (ev) {
                                                    	dp_fechaInicio.hide();
                                                	}).data('datepicker');
                                    </script>
                                    <div ng-show="errores.fechaInicio">{{errores.fechaInicio}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.fechaFinal?'error':''">
                                    <label for="fechaFinal">fechaFinal</label>
            						<div class="input-group">
            	                        <input id="fechaFinal" 
            	                               class="form-control datepicker" 
            	                               type="text" 
            	                               ng-model="datosFormulario.fechaFinal"/>
            							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                	</div>
                                    <script>
                                                $('#fechaFinal').datepicker({format: 'dd/mm/yyyy', language: "es"})
            										.on('changeDate', function (ev) {
                                                    	dp_fechaFinal.hide();
                                                	}).data('datepicker');
                                    </script>
                                    <div ng-show="errores.fechaFinal">{{errores.fechaFinal}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.valor?'error':''">
                                    <label for="valor">valor</label>
                                    <input id="valor" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.valor"
            							   placeholder="valor"/>
                                    <div ng-show="errores.valor">{{errores.valor}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.iva?'error':''">
                                    <label for="iva">iva</label>
                                    <input id="iva" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.iva"
            							   placeholder="iva"/>
                                    <div ng-show="errores.iva">{{errores.iva}}</div>
                                </div>
                            </div> 
							<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>producto</label>
									<select id="producto" class="form-control" 
			                            ng-model="datosFormulario.producto"
			                            ng-options="option.nombre for option in listaProducto track by option.id">
			                    	</select>
			                        <div ng-show="errores.producto">{{errores.producto}}</div>
			                    </div>
			                </div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

